<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/base.css" />
    <title>PAW Blog</title>
    <style>
      .welcome-display {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1.5%;
      }
      #post {
        padding-left: 10%;
        padding-right: 10%;
      }
      .posts {
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <!-- Empty Navbar-->
    <nav class="nav-bar"></nav>

    <!-- Welcome text section -->
    <section id="" class="welcome-display">
      <div>
        <img src="/static/images/paw.png" width="100" alt="Example Image" />
      </div>
      <div>
        <h1>PAW Blog</h1>
      </div>
    </section>
    <hr />

    <section id="post">
      <div class="posts">
        {% for item in content %}
        <div>
          <!-- Link to the post detail page -->
          <a href="/post_detail/{{item.id}}">
            {{item.id}}
            <p>Title: {{ item.title }}</p>
            <p>Description: {{ item.description }}</p>
          </a>
        </div>
        <hr />
        {% endfor %}
      </div>
    </section>
  </body>
</html>
