<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/base.css" />
    <title>Dashboard</title>
    <style>
      #post {
        padding-left: 10%;
        padding-right: 10%;
      }
      .posts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      form {
        display: flex;
        gap: 10px;
      }
      input {
        padding: 2%;
      }
    </style>
  </head>
  <body>
    <section id="post">
      <div class="posts">
        <div>
          <h2>Dashboard</h2>
        </div>

        <div>
          <h4>Create Blog Posts</h4>
        </div>

        <div>
          <form method="POST">
            <input type="text" name="title" placeholder="Post Title" required />
            <input
              type="text"
              name="description"
              placeholder="Post Description"
            />
            <input type="submit" />
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
